<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/(uploads|js|img|files|css)/.* [NC]
    RewriteCond %{REQUEST_URI} !^/apple-touch-icon.* [NC]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
<IfDefine !NoCustomPHPSessionPath>
    php_value session.save_path /cake/app/tmp/sessions
</IfDefine>
php_value max_input_vars 10000
