/*============= LOAD LESS FILES =============*/

/*=====Variables====*/
/*=====Variables====*/
/*============ MY ACCOUNT PAGE  =============*/

#accountBody {
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: -100;
}
#accountMid {
  position: relative;
}
#accountMid #accountTop {
  width: 100%;
  max-width: 578px;
  position: relative;
  padding: 50px 0;
}
#accountMid #accountTop h1 {
  font-size: 30px;
  float: left;
  padding: 12px 36px;
}
#accountMid #accountTop a {
  color: #001948;
  font-size: 15px;
}
#accountMid #accountTop a.logout {
  font-size: 12px;
}
#accountMid #accountTop #atLower {
  clear: left;
  width: 86%;
  padding: 25px 7% 40px;
}
#accountMid #accountTop #atLower h2 {
  font-size: 30px;
  color: #30659b;
  margin: 0 0 7px;
}
#accountMid #accountTop #atLower .accountInfo {
  font-size: 17px;
  color: #3e3e3e;
}
#accountMid #accountTop #atLower .accountInfo .aiLabel {
  color: #30659b;
}
#accountMid #accountTop #atLower #close {
  position: relative;
  top: 10px;
  padding: 2px 10px;
  width: 37px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: #114477;
  cursor: pointer;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
#accountMid .accountTabs {
  float: left;
}
#accountMid .accountTabs .atTab {
  background-color: rgba(255, 255, 255, 0.87);
  color: black;
  float: left;
  border: 3px solid #22476f;
  font-size: 14px;
  padding: 8px 0px;
  width: 178px;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#accountMid .accountTabs .atTab.active,
#accountMid .accountTabs .atTab:hover {
  color: white;
  background-color: #22476f;
  cursor: pointer;
}
#accountMid .accountMain {
  padding: 20px 2.5%;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  *zoom: 1;
}
#accountMid .accountMain#completedView,
#accountMid .accountMain#canceledView {
  display: none;
}
#accountMid .accountMain:before,
#accountMid .accountMain:after {
  content: "";
  display: table;
}
#accountMid .accountMain:after {
  clear: both;
}
#accountMid .accountMain .requestItem {
  position: relative;
  background-color: white;
  margin-bottom: 38px;
  padding: 20px 2%;
  float: left;
  width: 96%;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
#accountMid .accountMain .requestItem .terms {
  margin: 0;
  padding: 0;
  list-style: none;
  *zoom: 1;
}
#accountMid .accountMain .requestItem .terms:before,
#accountMid .accountMain .requestItem .terms:after {
  content: "";
  display: table;
}
#accountMid .accountMain .requestItem .terms:after {
  clear: both;
}
#accountMid .accountMain .requestItem .terms li {
  float: left;
  margin: 0;
  padding: 0;
}
#accountMid .accountMain .requestItem .terms li {
  list-style: disc;
  margin-right: 10px;
}
#accountMid .accountMain .requestItem .riTitle {
  color: #114477;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  display: inline-block;
  text-decoration: none;
}
#accountMid .accountMain .requestItem a.riTitle:hover {
  text-decoration: underline;
}
#accountMid .accountMain .requestItem .riLeft {
  width: 65%;
  float: left;
}
#accountMid .accountMain .requestItem .riLeft .riDate,
#accountMid .accountMain .requestItem .detailsBody .riDate {
  font-size: 12px;
  margin: 4px 0;
}
#accountMid .accountMain .requestItem .riLeft .riDate span {
  color: #224d7d;
}
#accountMid .accountMain .requestItem .riLeft p {
  font-size: 14px;
  color: black;
  margin: 8px 0 15px;
}
#accountMid .accountMain .requestItem .riLeft .parent-btn {
  float: right;
  margin: 5px;
  font-size: 12px;
}
/*#accountMid .accountMain .requestItem .riLeft img {       Saving this in case we decide to
  width: 281px;                                             go back to the approval images
  margin-left: -12px;
  display: block;
}*/
#accountMid .accountMain .requestItem .status-details-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#accountMid .accountMain .requestItem .status-details-flex .status-wrapper {
  width: 282px;
  margin-left: -12px;
  display: block;
}
#accountMid .accountMain .requestItem .status-details-flex .status-wrapper .status-cell {
  display: inline-block;
  width: 125px;
  height: 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  padding: 4px;
  border: 4px solid;
}
#accountMid .accountMain .requestItem .status-details-flex .status-wrapper .left {
  border-radius: 16px 0px 0px 16px;
}
#accountMid .accountMain .requestItem .status-details-flex .status-wrapper .right {
  border-radius: 0px 16px 16px 0px;
}
#accountMid .accountMain .requestItem .status-details-flex .status-wrapper .active {
  font-weight: bold;
}
#accountMid .accountMain .requestItem .status-details-flex .status-wrapper .light-green-border {
  border-color: #d8e8ab;
}
#accountMid .accountMain .requestItem .status-details-flex .status-wrapper .green-border {
  border-color: #b8d65a;
}
#accountMid .accountMain .requestItem .status-details-flex .status-wrapper .light-red-border {
  border-color: #fc9898;
}
#accountMid .accountMain .requestItem .status-details-flex .status-wrapper .red-border {
  border-color: #d85858;
}
#accountMid .accountMain .requestItem .status-details-flex .status-wrapper .obsolete {
  width: 250px;
  border-color: #d8e8ab;
  border-radius: 16px;
  font-style: italic;
}
#accountMid .accountMain .requestItem .riRight {
  width: 35%;
  float: right;
}
#accountMid .accountMain .requestItem .riRight .riTitle {
  float: right;
  clear: both;
}
.approverPics {
  float: right;
  width: 160px;
}
#accountMid .accountMain .requestItem .approver {
  position: relative;
  float: right;
  margin: 5px 15px 10px 15px;
  *zoom: 1;
}
#accountMid .accountMain .requestItem .approver:before,
#accountMid .accountMain .requestItem .approver:after {
  content: "";
  display: table;
}
#accountMid .accountMain .requestItem .approver:after {
  clear: both;
}
#accountMid .accountMain .requestItem .approver .user-icon {
  padding: 25px;
  border-radius: 30px;
  content: '';
  float: left;
  background-image: url(../img/requests-user-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #d8e8aa;
}
#accountMid .accountMain .requestItem .approver .info {
  display: none;
  width: 150px;
  background-color: white;
  position: absolute;
  padding: 10px;
  left: -128%;
  top: -110px;
  border: solid 3px #d8e8aa;
  line-height: 10px;
}
#accountMid .accountMain .requestItem .approver .info a,
#accountMid .accountMain .requestItem .approver .info p {
  color: black;
  text-decoration: none;
  display: block;
  float: left;
  padding: 2px 0 0 0;
  margin: 0;
}
#accountMid .accountMain .requestItem .approver .info div {
  *zoom: 1;
  margin-bottom: 2px;
  font-size: 9px;
}
#accountMid .accountMain .requestItem .approver .info div:before,
#accountMid .accountMain .requestItem .approver .info div:after {
  content: "";
  display: table;
}
#accountMid .accountMain .requestItem .approver .info div:after {
  clear: both;
}
#accountMid .accountMain .requestItem .approver .info:after {
  content: '';
  width: 16px;
  height: 8px;
  position: absolute;
  background: url(../img/requests-info-arrow.png) center right #d8e8aa;
  bottom: -11px;
  left: 43%;
}
#accountMid .accountMain .requestItem .approver .info .icon {
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-color: #d8e8aa;
  background-repeat: no-repeat;
}
#accountMid .accountMain .requestItem .approver .info .contactName {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 5px;
}
#accountMid .accountMain .requestItem .approver .info .approverRole .icon {
  background-image: url(../img/requests-user-icon.png);
  background-size: contain;
  background-position: center;
}
#accountMid .accountMain .requestItem .approver .info .contactNumber .icon {
  background-image: url(../img/request-phone-icon.png);
}
#accountMid .accountMain .requestItem .approver .info .contactEmail .icon {
  background-image: url(../img/request-email-icon.png);
}
#accountMid .accountMain .requestItem .approver .info .status .icon {
  background-image: url(../img/request-pending-icon.png);
}
#accountMid .accountMain .requestItem .approver .info .status .icon.approved {
  background-image: url(../img/request-approved-icon.png);
}
#accountMid .accountMain .requestItem .approver .info .status .icon.denied {
  background-image: url(../img/request-pending-icon.png);
}
#accountMid .accountMain .requestItem .approver.custodian .user-icon {
  background-color: #b5d45d;
}
#accountMid .accountMain .requestItem .approver.custodian .info {
  border-color: #b5d45d;
  text-align: left;
}
#accountMid .accountMain .requestItem .approver.custodian .info:after,
#accountMid .accountMain .requestItem .approver.custodian .info .icon {
  background-color: #b5d45d;
}
#accountMid .accountMain .requestItem .approver.steward .user-icon {
  background-color: #ffa900;
}
#accountMid .accountMain .requestItem .approver.steward .info {
  border-color: #ffa900;
  text-align: left;
}
#accountMid .accountMain .requestItem .approver.steward .info:after,
#accountMid .accountMain .requestItem .approver.steward .info .icon {
  background-color: #ffa900;
}
#accountMid .accountMain .requestItem .riBelow {
  width: 88%;
  clear: both;
  margin-left: 12%;
}
.subrequestNameWrapper {
  display: table;
  width: 634px;
  height: 65px;
  float: left;
}
#accountMid .accountMain .requestItem .riBelow .subrequestName {
  width: 634px;
  display: table-cell;
  vertical-align: middle;
}
/*#accountMid .accountMain .requestItem .riBelow .subrequestStatus {    As above, saving in case we decide to
  width: 190px;                                                         go back to using approval status images
  height: auto;
  margin-left: -5px;
  display: block;
  clear: both;
}*/
#accountMid .accountMain .requestItem .riBelow .status-details-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 634px;
}
#accountMid .accountMain .requestItem .riBelow .status-details-flex .status-wrapper {
  width: 190px;
  margin-left: -5px;
  display: block;
  clear: both;
}
#accountMid .accountMain .requestItem .riBelow .status-details-flex .status-wrapper .status-cell {
  display: inline-block;
  width: 73px;
  height: 14px;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  padding: 3px;
  border: 3px solid;
}
#accountMid .accountMain .requestItem .riBelow .status-details-flex .status-wrapper .left {
  border-radius: 12px 0px 0px 12px;
}
#accountMid .accountMain .requestItem .riBelow .status-details-flex .status-wrapper .right {
  border-radius: 0px 12px 12px 0px;
}
#accountMid .accountMain .requestItem .riBelow .status-details-flex .status-wrapper .active {
  font-weight: bold;
}
#accountMid .accountMain .requestItem .riBelow .status-details-flex .status-wrapper .light-green-border {
  border-color: #d8e8ab;
}
#accountMid .accountMain .requestItem .riBelow .status-details-flex .status-wrapper .green-border {
  border-color: #b8d65a;
}
#accountMid .accountMain .requestItem .riBelow .status-details-flex .status-wrapper .light-red-border {
  border-color: #fc9898;
}
#accountMid .accountMain .requestItem .riBelow .status-details-flex .status-wrapper .red-border {
  border-color: #d85858;
}
#accountMid .accountMain .requestItem .riBelow .status-details-flex .status-wrapper .obsolete {
    width: 146px;
    border-color: #d8e8ab;
    border-radius: 12px;
    font-style: italic;
}
#accountMid .accountMain .requestItem .detailsBody,
#accountMid .accountMain .requestItem .riBelow .detailsBody {
  display: none;
  *zoom: 1;
  clear: both;
  background-color: #f4f4f4;
  border-top: solid 20px white;
  padding: 20px 30px;
}
#accountMid .accountMain .requestItem .detailsBody:before,
#accountMid .accountMain .requestItem .detailsBody:after,
#accountMid .accountMain .requestItem .riBelow .detailsBody:before,
#accountMid .accountMain .requestItem .riBelow .detailsBody:after {
  content: "";
  display: table;
}
#accountMid .accountMain .requestItem .detailsBody:after,
#accountMid .accountMain .requestItem .riBelow .detailsBody:after {
  clear: both;
}
.infoIcon {
  width: 19px;
  height: auto;
  border-radius: 7px;
  margin: 22px 0px 10px 12px;
}
#helpText {
  height: 39px;
  width: 230px;
  padding: 4px;
  border: solid 1px rgba(14, 50, 100, 0.85);
  background-color: white;
  text-align: center;
}
#accountMid .accountMain .requestItem .detailsBody .data-col,
#accountMid .accountMain .requestItem .riBelow .detailsBody .data-col {
  float: left;
  width: 30%;
  margin-right: 10%;
}
#accountMid .accountMain .requestItem .detailsBody .attrValue,
#accountMid .accountMain .requestItem .riBelow .detailsBody .attrValue {
  font-size: 12px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 7px;
  background-color: white;
  padding: 5px;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
#accountMid .accountMain .requestItem .detailsBody .collaborators-input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: 20px 0px;
  display: none;
}
#accountMid .accountMain .requestItem .detailsBody .collaborators-input-wrapper input {
  border: none;
  padding: 0 0 0 10px;
  height: 30px;
  width: 250px;
  box-sizing: border-box;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
#accountMid .accountMain .requestItem .detailsBody .collaborators-input-wrapper .close {
  padding: 5px 14px;
  top: 2px;
}
#accountMid .accountMain .requestItem .detailsBody .collaborators-search-result {
  width: 365px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}
#accountMid .accountMain .requestItem .detailsBody .collaborators-search-result:nth-child(2n) {
  background-color: #d8d8d8;
}
#accountMid .accountMain .requestItem .detailsBody .collaborators-search-result:hover {
  cursor: pointer;
  text-decoration: underline;
}
#accountMid .accountMain .requestItem .detailsBody h4,
#accountMid .accountMain .requestItem .riBelow .detailsBody h4 {
  color: #114477;
  font-size: 16px;
  margin: 0;
}
#accountMid .accountMain .requestItem .detailsBody h5,
#accountMid .accountMain .requestItem .riBelow .detailsBody h5 {
  font-size: 13px;
  font-weight: bold;
  color: #114477;
  margin: 0 0 3px 0;
}
#accountMid .accountMain .requestItem .detailsBody h3.headerTab,
#accountMid .accountMain .requestItem .riBelow .detailsBody h3.headerTab {
  background-color: white;
  border: rgba(14, 50, 100, 0.85) solid 2px;
  color: rgba(14, 50, 100, 0.85);
  float: left;
  font-size: 18px;
  margin: 15px 0 10px 0;
  padding: 4px 18px;
  font-weight: bold;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
#accountMid .accountMain .requestItem .detailsBody .lower-btn,
#accountMid .accountMain .requestItem .riBelow .detailsBody .lower-btn,
#searchBody #searchResults #srLower .resultItem #apiForm .lower-btn,
#searchBody #searchResults #srLower .resultItem .lower-btn {
  padding: 4px 14px;
  margin-right: 15px;
  font-size: 13px;
  display: inline;
  position: relative;
  float: right;
  top: 10px;
  font-weight: 600;
  color: white;
  background-color: #114477;
  cursor: pointer;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
#accountMid .accountMain .requestItem .detailsBody .edit-btn {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin: 19px 0px 10px 12px;
  border-radius: 5px;
  background-image: url(../img/edit.png);
  background-size: 29px;
  background-position: center;
  cursor: pointer;
}
#accountMid .accountMain .requestItem .detailsBody .remove {
  padding: 2px 8px;
  font-size: 10px;
  display: inline;
  font-weight: 600;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: -1px 1px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -1px 1px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -1px 1px 7px 1px rgba(50, 50, 50, 0.22);
}
#accountMid .accountMain .requestItem .detailsBody .remove.hidden {
  display: none;
}
#accountMid .accountMain .requestItem .detailsBody .delete,
#accountMid .accountMain .requestItem .detailsBody .remove,
#accountMid .accountMain .requestItem .riBelow .detailsBody .delete {
  background-color: #b3041a;
}
#accountMid .accountMain .requestItem .riLeft .parent-btn,
#accountMid .accountMain .requestItem .riLeft .status-details-flex .details-btn,
#accountMid .accountMain .requestItem .riBelow .status-details-flex .details-btn,
#accountMid .accountMain .requestItem .detailsBody .policies-btn {
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: #114477;
  cursor: pointer;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  text-decoration: none;
}
#accountMid .accountMain .requestItem .riLeft .status-details-flex .details-btn .detailsLess,
#accountMid .accountMain .requestItem .riBelow .status-details-flex .details-btn .detailsLess,
#accountMid .accountMain .requestItem .detailsBody .policies-btn .policiesHide {
  display: none;
  float: left;
}
#accountMid .accountMain .requestItem .riLeft .status-details-flex .details-btn.active .detailsLess,
#accountMid .accountMain .requestItem .riBelow .status-details-flex .details-btn.active .detailsLess,
#accountMid .accountMain .requestItem .detailsBody .policies-btn.active .policiesHide {
  display: block;
}
#accountMid .accountMain .requestItem .riLeft .status-details-flex .details-btn.active .detailsMore,
#accountMid .accountMain .requestItem .riBelow .status-details-flex .details-btn.active .detailsMore,
#accountMid .accountMain .requestItem .detailsBody .policies-btn.active .policiesShow {
  display: none;
}
#accountMid .accountMain .requestItem .detailsBody .policy-header-wrapper {
  width: 325px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (max-width: 720px) {
  #accountMid #accountTop {
    padding: 25px 0;
  }
  #accountMid #accountTop h1 {
    font-size: 25px;
    width: 100%;
    padding: 12px 0;
  }
  #accountMid #accountTop #atLower {
    padding: 11px 7% 16px;
  }
  #accountMid #accountTop #atLower h2 {
    font-size: 21px;
    text-align: center;
  }
  #accountMid #accountTop #atLower .accountInfo {
    width: 100%;
    font-size: 14px;
  }
  #accountMid .accountTabs {
    width: 100%;
  }
  #accountMid .accountTabs .atTab {
    width: 50%;
    padding: 3px 0px;
  }
  #accountMid .accountMain {
    padding: 20px 5%;
  }
  #accountMid .accountMain .requestItem {
    padding: 20px 5%;
    width: 90%;
  }
  #accountMid .accountMain .requestItem .riLeft {
    width: 100%;
    margin-bottom: 20px;
  }
  #accountMid .accountMain .requestItem .riLeft p {
    font-size: 13px;
  }
  #accountMid .accountMain .requestItem .riLeft img {
    width: 200px;
    padding: 0;
    margin: 0 auto;
  }
  #accountMid .accountMain .requestItem .riRight {
    width: 100%;
    float: none;
    clear: both;
    margin: 20px 0;
  }
  #accountMid .accountMain .requestItem .riRight .riTitle {
    text-align: left;
  }
  #accountMid .accountMain .requestItem .riRight .approver {
    width: 100%;
    clear: both;
  }
  #accountMid .accountMain .requestItem .riRight .approver .user-icon {
    display: none;
  }
  #accountMid .accountMain .requestItem .riRight .approver .info {
    display: block;
    width: 94%;
    padding: 3%;
    position: relative;
    left: 0;
    top: 0;
  }
  #accountMid .accountMain .requestItem .riRight .approver .info:after {
    display: none;
  }
  #accountMid .accountMain .requestItem .contactBox {
    float: none;
    margin: 0 auto;
    clear: left;
  }
  #accountMid .accountMain .requestItem .contactBox .contactName {
    text-align: left;
  }
  #accountMid .accountMain .requestItem .contactBox:before {
    background: none;
  }
  #accountMid .accountMain .requestItem .detailsBody .data-col,
  #accountMid .accountMain .requestItem .riBelow .detailsBody .data-col {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 490px) {
  #accountMid .accountMain {
    padding: 20px 7%;
  }
  #accountMid .accountMain .requestItem {
    padding: 20px 6%;
    width: 88%;
  }
}
