/*============= LOAD LESS FILES =============*/

/*=====Variables====*/
/*=====Variables====*/
/*============= HOME TEMPLATE STYLES =============*/

#homeTop {
  float: left;
  width: 100%;
  clear: right;
}
#homeTop #htBack {
  background: url(/img/backgrounds/homeBG.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1668px;
  margin: 0 auto;
  float: left;
  padding: 6% 0 8%;
  background-position: center center;
}
#homeTop #htBack #welcomeBox {
  background-color: rgba(14, 50, 100, 0.85);
  color: white;
  padding: 21px 3%;
  float: left;
}
#homeTop #htBack #welcomeBox h1 {
  font: 5.5em 'Rokkitt', serif;
  margin: 0;
  line-height: .75em;
  letter-spacing: -0.02em;
}
#homeTop #htBack #welcomeBox h5 {
  font-size: 1.8em;
  margin: 0;
  line-height: 1em;
  font-weight: normal;
}
#homeTop #htBack #mobSearchBox {
  display: none;
  background-color: rgba(14, 50, 100, 0.85);
  color: white;
  padding: 15px 0;
  float: left;
  width: 99%;
}
#homeTop #htBack #mobSearchBox h3 {
  font: 25px 'Rokkitt', serif;
  text-align: center;
  margin: 0;
}
#homeTop #htBack #searchBox {
  clear: left;
  float: left;
  background-color: rgba(255, 255, 255, 0.83);
  padding: 3%;
  margin: 40px 0 0;
  width: 94%;
}
#homeTop #htBack #searchBox form {
  position: relative;
}
#homeTop #htBack #searchBox .autoComplete {
  width: 79%;
}
#homeTop #htBack #searchBox input {
  position: relative;
  z-index: 10;
  border: none;
  padding: 0 0 0 2%;
  height: 30px;
  width: 77%;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
#homeTop #htBack #searchBox input[type=submit] {
  background-color: #001948;
  color: white;
  float: right;
  width: 21%;
  font-weight: bold;
  padding: 0 2%;
}
#homeTop #htBack #searchBox p {
  font: 16px 'Rokkitt', serif;
  font-weight: bold;
  margin: 13px 0 0;
}
#homeTop #htBack #searchBox p #catalogLink {
  color: #fe8a02;
  text-decoration: none;
}
#homeTop #htBack #searchBox p #catalogLink:after {
  content: "";
  background: url(/img/doubleRight.png) no-repeat;
  background-size: 23px;
  background-position-x: 12px;
  background-position-y: 3px;
  padding: 0px 20px 0 20px;
  transition: all .2s;
}
#homeTop #htBack #searchBox p #catalogLink:hover:after {
  background-position-x: 16px;
}
#homeQL {
  display: table;
  clear: left;
}
#homeQL h3 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 7px;
  position: relative;
  width: 100%;
  float: left;
  font: 2.3em 'Rokkitt', serif;
  font-weight: bold;
  color: #434343;
}
#homeQL h3 span {
  background: white;
  padding: 0 3%;
  position: relative;
  z-index: 5;
}
#homeQL h3:before {
  content: "";
  display: block;
  border-top: solid 1px #dbdbdb;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 36%;
  z-index: 1;
}
#homeQL .qlBox {
  float: left;
  padding: 12px 5%;
  box-sizing: border-box;
  width: 33.3%;
}
#homeQL .qlBox:not(:first-of-type) {
  border-left: 1px dotted #acacac;
}
#homeQL .qlBox .qLicon {
  width: 37%;
  display: block;
  margin: 0 auto;
}
#homeQL .qlBox .qLicon img {
  width: 100%;
}
#homeQL .qlBox p {
  font-size: 1.4em;
  font-weight: bold;
  color: #3a3a3a;
  text-align: center;
  line-height: 1.3em;
  margin: 1em 0;
}
#homeQL .qlBox .qlLink {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #353535;
  font-size: 11px;
  display: block;
}
#homeQL .qlBox .qlLink:hover {
  text-decoration: underline;
}
#homeQL .qlBox .qlLink:after {
  content: url('/img/rightArrow.gif');
  padding-left: 5px;
  position: absolute;
}
#homeHowTo {
  clear: left;
  background-color: #f4f4f4;
  padding: 42px 0;
  margin: 50px auto;
}
#homeHowTo h3 {
  color: #434343;
  background-color: white;
  font-size: 2.45em;
  text-align: center;
  padding: 10px 3%;
  margin-bottom: 70px;
  font-weight: normal;
  width: 22%;
  margin: 0 auto 70px;
}
#homeHowTo .htBox {
  display: inline-block;
  width: 11%;
  position: relative;
  vertical-align: top;
}
#homeHowTo .htBox .htPop {
  display: none;
  position: absolute;
  bottom: 100%;
  left: -32%;
  margin-bottom: 10px;
  background-color: #a9f7f8;
  padding: 11px 24% 18px;
  width: 115%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#homeHowTo .htBox .htPop p {
  text-transform: none;
}
#homeHowTo .htBox .htPop:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #a9f7f8;
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
}
#homeHowTo .htBox h2 {
  background-color: #5a5a5a;
  padding: 4% 0 0;
  font: bold 5em 'Rokkitt', serif;
  text-align: center;
  color: white;
  box-sizing: border-box;
  line-height: 1.1em;
  border: 7px solid transparent;
  margin: 0;
  transition: all 0.2s ease-in-out;
  display: inherit;
  margin-left: 20%;
  width: 60%;
  cursor: pointer;
}
#homeHowTo .htBox h2:hover,
#homeHowTo .htBox h2.active {
  color: #5a5a5a;
  background-color: white;
  border: 7px solid #a9f7f8;
}
#homeHowTo .htBox p {
  font-size: 11px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
#homeHowTo .htBox:first-of-type {
  margin-left: 3%;
}
#homeHowTo .arrow {
  display: inline-block;
  width: 16.2%;
  vertical-align: top;
  margin-top: 24px;
}
#homeHowTo .arrow .dt {
  width: 100%;
  height: 27px;
}
#homeHowTo .arrow .mob {
  display: none;
}
@media screen and (min-width: 1685px) {
  #homeTop #htBack {
    height: 324px;
    float: none;
    padding: 80px 100px;
  }
}
@media screen and (max-width: 780px) {
  #homeHowTo .htBox h2 {
    width: 75%;
  }
}
@media screen and (max-width: 710px) {
  
}
@media screen and (max-width: 550px) {
  #homeTop #htBack {
    padding: 28px 0 35px;
    background-position: 32%;
    position: relative;
    margin-bottom: 150px;
  }
  #homeTop #htBack #welcomeBox {
    padding: 21px 9% 21px 6%;
    width: 84%;
  }
  #homeTop #htBack #welcomeBox h1 {
    font-size: 42px;
    line-height: .85em;
    padding-bottom: 8px;
    letter-spacing: 0;
  }
  #homeTop #htBack #welcomeBox h5 {
    font-size: 16px;
  }
  #homeTop #htBack #mobSearchBox {
    display: block;
    margin: 40px 0 0;
  }
  #homeTop #htBack #searchBox {
    margin: 0;
    padding: 7%;
    width: 85%;
  }
  #homeTop #htBack #searchBox .autoComplete {
    width: 99%;
  }
  #homeTop #htBack #searchBox input {
    width: 97%;
  }
  #homeTop #htBack #searchBox input[type=submit] {
    display: block;
    float: none;
    width: 35%;
    margin: 20px auto 0;
  }
  #homeTop #htBack #searchBox p {
    text-align: center;
  }
  #homeQL h3 {
    width: 96%;
    margin-left: 2%;
  }
  #homeQL h3 span {
    padding: 0px 7%;
  }
  #homeQL .qlBox {
    width: 100%;
    border-left: none !important;
    padding-bottom: 20px;
  }
  #homeQL .qlBox .qLicon {
    width: 100px;
  }
  #homeHowTo {
    width: 100%;
    margin: 0 auto;
  }
  #homeHowTo h3 {
    width: 250px;
    margin-bottom: 42px;
  }
  #homeHowTo .htBox {
    width: 100%;
  }
  #homeHowTo .htBox:first-of-type {
    margin-left: 0;
  }
  #homeHowTo .htBox h2 {
    width: 82px;
    margin: 0 auto;
    display: block;
    padding: 2px 0;
  }
  #homeHowTo .htBox .htPop {
    left: 40%;
    padding: 11px 10% 18px;
    width: 160px;
    margin-left: -80px;
    -webkit-box-shadow: 0px -4px 11px -3px rgba(10, 10, 10, 0.7);
    -moz-box-shadow: 0px -4px 11px -3px rgba(10, 10, 10, 0.7);
    box-shadow: 0px -4px 11px -3px rgba(10, 10, 10, 0.7);
  }
  #homeHowTo .arrow {
    margin: 6px 0 20px;
    width: 100%;
  }
  #homeHowTo .arrow .dt {
    display: none;
  }
  #homeHowTo .arrow .mob {
    display: block;
    width: 27px;
    margin: 0 auto;
  }
}
