/*============= LOAD LESS FILES =============*/

/*=====Variables====*/
/*=====Variables====*/
/*============ FIND PEOPLE PAGE  =============*/

.headerTab {
  font-size: 30px;
  padding: 8px 30px;
  float: left;
}
#peopleBg {
  position: absolute;
  padding: 0;
  margin: 0;
  background-position: center;
}
.people-list {
  *zoom: 1;
  margin-bottom: 20px;
}
.people-list:before,
.people-list:after {
  content: "";
  display: table;
}
.people-list:after {
  clear: both;
}
#peopleBody {
  position: relative;
}
#peopleBody #peopleTop {
  width: 604px;
  padding: 82px 0 48px;
}
#peopleBody #peopleTop #ptLower {
  padding: 30px 35px;
}
#peopleBody #peopleTop #ptLower input[type=text] {
  width: 78%;
  position: relative;
  float: left;
}
#peopleBody #peopleTop #ptLower input[type=text]:first-of-type {
  margin-right: 20px;
}
#peopleBody #peopleTop #ptLower input[type=submit] {
  margin-left: -3px;
}
#peopleBody #peopleTop #ptLower input.text,
#peopleBody #peopleTop #ptLower input[type="text"],
#peopleBody #peopleTop #ptLower input[type="button"],
#peopleBody #peopleTop #ptLower input[type="submit"],
#peopleBody #peopleTop #ptLower .input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}
#peopleBody #peopleBottom #peopleMain {
  padding: 37px 4%;
  width: 92%;
  margin-bottom: 100px;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
#peopleBody #peopleBottom #peopleMain #leftCol {
  width: 24.5%;
  float: left;
}
#peopleBody #peopleBottom #peopleMain #leftCol .subMobMenu {
  display: none;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul {
  margin: 0;
  padding: 0;
  list-style: none;
  *zoom: 1;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul:before,
#peopleBody #peopleBottom #peopleMain #leftCol ul:after {
  content: "";
  display: table;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul:after {
  clear: both;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul li {
  float: left;
  margin: 0;
  padding: 0;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul li {
  float: none;
  display: list-item;
  margin-bottom: 10px;
  width: 90%;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
#peopleBody #peopleBottom #peopleMain #leftCol ul li a {
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  background-color: #234e77;
  display: block;
  clear: both;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul li a:hover {
  background-color: #10375b;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul li .deptLink {
  font-size: 1.8em;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul li .deptLink-sub,
#peopleBody #peopleBottom #peopleMain #leftCol ul li .deptLink-sub-sub {
  margin: 0;
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  color: #10375b;
  display: block;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul li .deptLink-arrow {
  margin-left: 3px;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul li a.deptLink-sub:hover,
#peopleBody #peopleBottom #peopleMain #leftCol ul li a.deptLink-sub-sub:hover {
  background-color: #eeeeee;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul li .deptLink-sub-sub {
  padding: 5px 10px 5px 25px;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul li.active {
  width: 100%;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul li.active a.deptLink {
  background-color: #10375b;
}
#peopleBody #peopleBottom #peopleMain #leftCol ul.mob {
  display: none;
}
#peopleBody #peopleBottom #peopleMain #rightCol {
  width: 65.5%;
  min-height: 430px;
  float: left;
  background-color: white;
  padding: 25px 5%;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
#peopleBody #peopleBottom #peopleMain #rightCol .deptHeader {
  font-size: 18px;
  color: #234e77;
  width: 100%;
  border-bottom: 1px solid #acacac;
  margin: 0 0 10px;
  clear: both;
}
#peopleBody #peopleBottom #peopleMain #rightCol .deptHeader a {
  color: #234e77;
  cursor: pointer;
  text-decoration: none;
}
#peopleBody #peopleBottom #peopleMain #rightCol .contactBox {
  *zoom: 1;
  float: left;
  margin-top: 55px;
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 5%;
  width: 42%;
}
#peopleBody #peopleBottom #peopleMain #rightCol .contactBox:before,
#peopleBody #peopleBottom #peopleMain #rightCol .contactBox:after {
  content: "";
  display: table;
}
#peopleBody #peopleBottom #peopleMain #rightCol .contactBox:after {
  clear: both;
}
#peopleBody #peopleBottom #peopleMain #rightCol .contactBox:before {
  left: 35%;
}
#peopleBody #peopleBottom #peopleMain #rightCol .contactBox:last-child {
  margin-right: 0;
}
#peopleBody #peopleBottom #peopleMain #rightCol .contactBlue {
  border: 3px solid #234e77;
  width: 96%;
}
#peopleBody #peopleBottom #peopleMain #rightCol .contactBlue .contact-info {
  float: left;
  width: 33%;
  margin-right: 2%;
}
#peopleBody #peopleBottom #peopleMain #rightCol .contactBlue .roles {
  float: left;
  width: 65%;
  font-size: 12px;
  margin-top: 8px;
}
#peopleBody #peopleBottom #peopleMain #rightCol .contactBlue .roles ul {
  margin: 0 0 8px 0;
  padding: 0 0 0 15px;
}
#peopleBody #peopleBottom #peopleMain #rightCol .contactBlue .roles a {
  color: #282828;
  text-decoration: none;
  position: relative;
}
#peopleBody #peopleBottom #peopleMain #rightCol .contactBlue .roles a:hover:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-bottom: solid 1px;
}
#peopleBody #peopleBottom #peopleMain #rightCol .contactBlue:before {
  content: "";
  background: url('/img/iconPersonBlue.png') no-repeat;
  position: absolute;
  width: 100%;
  height: 50px;
  background-size: 88px 51px;
  left: 43%;
  top: -53px;
}
@media screen and (min-width: 1685px) {
  #peopleBg {
    left: 50%;
    margin-left: -834px;
  }
}
@media screen and (max-width: 750px) {
  #peopleBg {
    height: 420px;
  }
  .headerTab {
    width: 90%;
    padding: 8px 5%;
  }
  #peopleBody #peopleTop {
    width: 100%;
    padding: 25px 0;
  }
  #peopleBody #peopleTop #ptLower input[type=text] {
    width: 100%;
    margin-bottom: 20px;
  }
  #peopleBody #peopleTop #ptLower input[type=submit] {
    margin: 0 auto;
    display: block;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol {
    position: absolute;
    background-color: #10375b;
    z-index: 99;
    width: 92%;
    -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
    -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
    box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  }
  #peopleBody #peopleBottom #peopleMain #leftCol #subMobMenu {
    position: relative;
    display: block;
    line-height: 1em;
    font-size: 35px;
    margin-left: 18px;
    cursor: pointer;
    border-right: 1px solid #001948;
    width: 0px;
    padding: 0 19px 7px;
    z-index: 98;
    float: left;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol #subMobMenu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 21px;
    height: 0.09em;
    background: white;
    -webkit-box-shadow: 0 0.2em 0 0 white, 0 0.4em 0 0 white;
    -moz-box-shadow: 0 0.2em 0 0 white, 0 0.4em 0 0 white;
    box-shadow: 0 0.2em 0 0 white, 0 0.4em 0 0 white;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol ul.show,
  #peopleBody #peopleBottom #peopleMain #leftCol ul.mob {
    background-color: #10375b;
    position: absolute;
    left: 58px;
    top: 42px;
    -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
    -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
    box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  }
  #peopleBody #peopleBottom #peopleMain #leftCol ul.show li,
  #peopleBody #peopleBottom #peopleMain #leftCol ul.mob li {
    border-right: 2px solid #10375b;
    border-left: 2px solid #10375b;
    font-size: 15px;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol ul.show li a:hover,
  #peopleBody #peopleBottom #peopleMain #leftCol ul.mob li a:hover {
    margin-left: 0;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol ul.show li a.active,
  #peopleBody #peopleBottom #peopleMain #leftCol ul.mob li a.active {
    display: block;
    margin-left: 0;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol ul.show li .deptLink,
  #peopleBody #peopleBottom #peopleMain #leftCol ul.mob li .deptLink {
    font-size: 15px;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol ul.show li .deptLink-sub,
  #peopleBody #peopleBottom #peopleMain #leftCol ul.mob li .deptLink-sub,
  #peopleBody #peopleBottom #peopleMain #leftCol ul.show li .deptLink-sub-sub,
  #peopleBody #peopleBottom #peopleMain #leftCol ul.mob li .deptLink-sub-sub {
    padding: 9px 0 9px 5%;
    width: 95%;
    margin-bottom: 2px;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol ul.show li .deptLink-sub-sub,
  #peopleBody #peopleBottom #peopleMain #leftCol ul.mob li .deptLink-sub-sub {
    padding: 9px 0 9px 10%;
    width: 90%;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol ul.mob {
    display: block;
    box-shadow: none;
    top: 2px;
  }
  #peopleBody #peopleBottom #peopleMain #rightCol {
    width: 90%;
    padding-top: 62px;
    min-height: 0;
  }
}
@media screen and (max-width: 590px) {
  #peopleBody #peopleBottom #peopleMain #rightCol .contactBox {
    float: none;
    margin: 30px auto 25px auto;
    width: 96%;
  }
  #peopleBody #peopleBottom #peopleMain #rightCol .contactBox:last-child {
    margin-right: auto;
  }
  #peopleBody #peopleBottom #peopleMain #rightCol .contactBox:before {
    display: none;
  }
  #peopleBody #peopleBottom #peopleMain #rightCol .contactBlue {
    border: 3px solid #234e77;
    width: 96%;
  }
  #peopleBody #peopleBottom #peopleMain #rightCol .contactBlue .contact-info {
    float: none;
    width: 100%;
  }
  #peopleBody #peopleBottom #peopleMain #rightCol .contactBlue .roles {
    float: none;
    width: 100%;
    margin-top: 15px;
  }
}
@media print {
  .headerTab {
    color: #001948;
  }
  #peopleTop {
    display: none;
  }
  #peopleBody #peopleBottom #peopleMain {
    padding-top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #peopleBody #peopleBottom #peopleMain #rightCol .contactBox {
    margin-top: 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #peopleBody #peopleBottom #peopleMain #rightCol .contactBox:before {
    display: none;
  }
  #peopleBody #peopleBottom #peopleMain #rightCol .contactBlue:before {
    display: none;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol,
  #peopleBody #peopleBottom #peopleMain #rightCol {
    display: block;
    float: none;
    width: 100%;
  }
  #peopleBody #peopleBottom #peopleMain #rightCol {
    width: 90%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol ul li {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol ul li.active {
    display: block;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol ul li .deptLink {
    color: black;
    font-size: 20px;
    border-top: solid 1px #acacac;
    border-bottom: solid 1px #acacac;
  }
  #peopleBody #peopleBottom #peopleMain #leftCol ul li .deptLink-sub,
  #peopleBody #peopleBottom #peopleMain #leftCol ul li .deptLink-sub-sub {
    display: none;
  }
}
