/*============= LOAD LESS FILES =============*/

/*=====Variables====*/
/*=====Variables====*/
/*========== SECONDARY PAGE  CLASSES =========*/

.deskBg {
  background: url(/img/backgrounds/tower-bldg.jpg) no-repeat;
  background-position: right center;
  width: 100%;
  max-width: 1668px;
  background-size: cover;
  margin: 0 auto;
  padding: 4% 0 10%;
  float: left;
}
.searchBg {
  background: url(/img/backgrounds/benson-bldg.jpg) no-repeat;
  background-position: right center;
  width: 100%;
  max-width: 1668px;
  background-size: cover;
  margin: 0 auto;
  padding: 4% 0 10%;
  float: left;
}
.libOnebg {
  background: url(/img/backgrounds/clark-bldg.jpg) no-repeat;
  background-position: right center;
  width: 100%;
  max-width: 1668px;
  background-size: cover;
  margin: 0 auto;
  padding: 4% 0 10%;
  float: left;
  height: 506px;
  background-position: left center;
  background-size: inherit;
}
.lectureBg {
  background: url(/img/backgrounds/hbll-bldg.jpg) no-repeat;
  background-position: right center;
  width: 100%;
  max-width: 1668px;
  background-size: cover;
  margin: 0 auto;
  padding: 4% 0 10%;
  float: left;
  height: 506px;
  background-position: left center;
  background-size: inherit;
}
.headerTab {
  background-color: rgba(14, 50, 100, 0.85);
  font-family: 'Rokkitt', serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 17px 20px;
}
.whiteBox {
  background-color: rgba(255, 255, 255, 0.87);
}
.inputShade {
  border: none;
  padding: 0 0 0 10px;
  height: 30px;
  box-sizing: border-box;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
.inputButton {
  background-color: #001948;
  color: white;
  font-weight: bold;
  padding: 0 2%;
  border: none;
  height: 30px;
  width: initial !important;
  padding: 0 25px;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
.clear {
  clear: both;
}
.blueText,
.blueText a {
  text-decoration: none;
  color: #1b7bdb;
}
.greenText,
.greenText a {
  text-decoration: none;
  color: #b5d45d;
}
.orangeText,
.orangeText a {
  text-decoration: none;
  color: #ffa900;
}
.redText,
.redText a {
  text-decoration: none;
  color: #f72525;
}
.contactBox {
  position: relative;
  float: left;
  border: 3px solid #b5d45d;
  padding: 10px 2%;
  margin-top: 50px;
  margin-left: 30px;
  width: 168px;
  float: right;
  margin-right: 10px;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
.contactBox:before {
  content: "";
  background: url('/img/iconPerson.png') no-repeat;
  position: absolute;
  width: 100%;
  height: 50px;
  background-size: 88px 51px;
  left: 50px;
  top: -53px;
}
.contactBox .contactName {
  font-size: 14px;
  color: black;
  text-align: center;
  display: block;
}
.contactBox .contactNumber,
.contactBox .contactEmail {
  font-size: 12px;
  padding: 10px 0 0;
}
.contactBox .contactNumber a,
.contactBox .contactEmail a {
  color: #3e3e3e;
  text-decoration: none;
}
.contactBox .contactNumber a:hover,
.contactBox .contactEmail a:hover {
  text-decoration: underline;
}
.contactBox .contactNumber:before,
.contactBox .contactEmail:before {
  content: "";
  padding: 0 3px 4px;
  background-position: 0px 0px;
  margin-top: -2px;
  display: block;
  float: left;
  height: 20px;
  width: 20px;
}
.contactBox .contactNumber:before {
  background: url('/img/iconPhone.gif') no-repeat;
  background-size: 20px 20px;
}
.contactBox .contactEmail:before {
  background: url('/img/iconMail.gif') no-repeat;
  background-size: 20px 20px;
}
.contactBox .contactTitle {
  color: #234e77;
  text-align: center;
  display: block;
  font-size: 12px;
  clear: left;
  font-weight: bold;
}
.contactBox .green-text {
  color: #b5d45d;
}
.contactBox .orange-text {
  color: #ffa900;
}
.contactOrange {
  border: 3px solid #ffa900;
}
.contactOrange:before {
  content: "";
  background: url('/img/iconPersonOrange.png') no-repeat;
  position: absolute;
  width: 100%;
  height: 50px;
  background-size: 88px 51px;
  left: 50px;
  top: -53px;
}
.quickLinks {
  clear: left;
  padding-top: 50px;
  position: relative;
}
.quickLinks .qlTab {
  background-color: #30547f;
  padding: 15px 16px 9px;
  float: left;
}
.quickLinks .qlTab h3 {
  color: white;
  margin: 0;
  font-family: 'Rokkitt', serif;
  font-size: 18px;
}
.quickLinks .qlTab h3:before {
  content: "";
  background: url('/img/iconStar.jpg') no-repeat;
  padding: 0 3px 4px;
  background-position: 0px 3px;
  margin-top: -2px;
  display: block;
  float: left;
  height: 20px;
  width: 20px;
  background-size: 17px;
}
.quickLinks .qlBody {
  position: relative;
  clear: left;
  -moz-column-count: 5;
  -moz-column-gap: 16px;
  -webkit-column-count: 5;
  -webkit-column-gap: 16px;
  column-count: 5;
  column-gap: 16px;
  background-color: #f4f4f4;
  padding: 20px 2.5% 10px;
  margin-bottom: 50px;
  border-bottom: 24px solid #f4f4f4;
  -webkit-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
  box-shadow: -2px 2px 7px 1px rgba(50, 50, 50, 0.22);
}
.quickLinks .qlBody #QLContainer {
  padding-right: 12px;
}
.quickLinks .qlBody ul {
  margin: 0;
  padding: 0;
  list-style: none;
  *zoom: 1;
  clear: both;
}
.quickLinks .qlBody ul:before,
.quickLinks .qlBody ul:after {
  content: "";
  display: table;
}
.quickLinks .qlBody ul:after {
  clear: both;
}
.quickLinks .qlBody ul li {
  float: left;
  margin: 0;
  padding: 0;
}
.quickLinks .qlBody ul li {
  width: 100%;
  -webkit-column-break-inside: avoid;
  /* Chrome, Safari */
  page-break-inside: avoid;
  /* Theoretically FF 20+ */
  break-inside: avoid-column;
  /* IE 11 */
  display: table;
}
.quickLinks .qlBody ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #336699;
  display: block;
  padding: 6px 0;
  float: left;
  line-height: 1.2em;
}
.quickLinks .qlBody ul li a:hover {
  text-decoration: underline;
}
.quickLinks .qlBody ul li a.ql-remove {
  float: left;
  width: 12px;
  padding: 7px 5px 0 0;
  display: none;
}
.quickLinks .qlBody ul li a.ql-remove img {
  width: 100%;
}
.quickLinks .qlBody ul li a.ql-active {
  display: block;
}
.quickLinks .qlBody ul li a.active-link {
  width: 88%;
}
.quickLinks .ql-edit {
  float: left;
  background-color: #4775ab;
  padding: 5px 10px;
  position: absolute;
  bottom: -24px;
  left: 3%;
}
.quickLinks .ql-edit a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  display: block;
  cursor: pointer;
}
.quickLinks .ql-edit a:after {
  content: "";
  background: url("/img/right-arrow.gif") no-repeat;
  padding: 0px 3px 0 2px;
  margin-left: 4px;
  background-position: 0px 3px;
  background-size: 5px;
}
.quickLinks .ql-edit .saveEdit,
.quickLinks .ql-edit .resetDefault {
  display: none;
}
.quickLinks .ql-edit.active {
  background-color: rgba(71, 117, 171, 0.3);
}
.quickLinks .ql-edit.active .editQL,
.quickLinks .ql-edit.active .resetDefault {
  display: none;
}
.quickLinks .ql-edit.active .saveEdit,
.quickLinks .ql-edit.active .resetDefault {
  color: #9f0f13;
  display: block;
  float: left;
  font-weight: bold;
}
.quickLinks .ql-edit.active .saveEdit:after,
.quickLinks .ql-edit.active .resetDefault:after {
  background: none;
  margin: 0;
  padding: 0;
}
.quickLinks .ql-edit.active:after {
  border-left: 10px solid #ffd480;
}
.contactBox .contactTitle.blueText {
  text-decoration: none;
  color: #1b7bdb;
}
.contactBox .contactTitle.greenText {
  text-decoration: none;
  color: #b5d45d;
}
.contactBox .contactTitle.orangeText {
  text-decoration: none;
  color: #ffa900;
}
/*============== LOGIN PAGE  ===============*/

#loginBody #loginBox {
  width: 100%;
  max-width: 482px;
  margin: 0 auto;
}
#loginBody #loginBox h1 {
  float: left;
  font-size: 30px;
  padding: 12px 36px;
}
#loginBody #loginBox #lbLower {
  clear: left;
  width: 86%;
  padding: 20px 7%;
}
#loginBody #loginBox #lbLower p {
  font-size: 16px;
  color: #333333;
  text-align: center;
  margin: 0 0 26px;
}
#loginBody #loginBox #lbLower input {
  width: 100%;
  margin-bottom: 25px;
}
#loginBody #loginBox #lbLower input[type=submit] {
  width: initial !important;
  padding: 0 25px;
  margin-left: 39% !important;
  float: left;
}
#loginBody #loginBox #lbLower a {
  color: #406a9f;
  font-size: 10px;
  margin-left: 13px;
  white-space: nowrap;
}
#loginBody #loginBox #lbLower a:hover {
  text-decoration: none;
}
@media screen and (min-width: 1685px) {
  .deskBg {
    height: 515px;
    float: none;
    padding: 80px 100px !important;
    margin: 0 auto;
  }
  #loginBody {
    padding: 57px 0 0;
  }
}
@media screen and (max-width: 1060px) {
  .innerLower {
    width: 94%;
    margin-left: 3%;
  }
}
@media screen and (max-width: 980px) {
  .quickLinks .qlBody {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media screen and (max-width: 850px) {
  .quickLinks .qlBody {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media screen and (max-width: 650px) {
  .libOnebg {
    background-position: -645px bottom;
    height: 421px;
  }
  .quickLinks .qlBody {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    padding: 20px 4.5% 12px;
  }
}
@media screen and (max-width: 550px) {
  .deskBg {
    background-position: left center;
  }
  #loginBody {
    padding: 35px 0;
  }
  #loginBody #loginBox {
    margin-left: 5%;
    width: 90%;
  }
  #loginBody #loginBox h1 {
    width: 100%;
    padding: 12px 0;
  }
  #loginBody #loginBox #lbLower p {
    font-size: 13px;
  }
  #loginBody #loginBox #lbLower input[type=submit] {
    padding: 0 20px;
    margin-left: 0 !important;
    width: 100% !important;
  }
  #loginBody #loginBox #lbLower a {
    padding-bottom: 0px;
    display: block;
    clear: left;
    margin-left: 0;
  }
}
@media screen and (max-width: 490px) {
  .innerLower {
    width: 90%;
    margin-left: 5%;
  }
  .quickLinks .qlTab {
    width: 100%;
    padding: 15px 0 9px;
  }
  .quickLinks .qlTab h3 {
    margin: 0 auto;
    width: 183px;
  }
  .quickLinks .qlBody {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .quickLinks .qlBody ul li {
    width: 100%;
    padding-right: 0;
    display: list-item;
    text-align: center;
  }
}
