/*============= LOAD LESS FILES =============*/
@import 'variables';
@import 'mixins';

/*========== SECONDARY PAGE  CLASSES =========*/

.deskBg {
	background: url(/img/backgrounds/tower-bldg.jpg) no-repeat;
	.bgStyles();
}

.searchBg {
	background: url(/img/backgrounds/benson-bldg.jpg) no-repeat;
	.bgStyles();
}

.libOnebg {
	background: url(/img/backgrounds/clark-bldg.jpg) no-repeat;
	.bgStyles();
	height: 506px;
	background-position: left center;
	background-size: inherit;
}

.lectureBg {
	background: url(/img/backgrounds/hbll-bldg.jpg) no-repeat;
	.bgStyles();
	height: 506px;
	background-position: left center;
	background-size: inherit;
} 

.headerTab {
	background-color: @transBlue;
	font-family: 'Rokkitt', serif;
	text-align: center;
	color: white;
	margin: 0;
	padding: 17px 20px;
}

.whiteBox {
	background-color: @transWhite;
}

.inputShade {
	border: none;
	padding: 0 0 0 10px;
	height: 30px;
	box-sizing: border-box;
	.box-shade();
}

.inputButton {
	background-color: #001948;
	color: white;
	font-weight: bold;
	padding: 0 2%;
	border: none;
	height: 30px;
	width: initial !important;
	padding: 0 25px;
    	cursor: pointer;
    	-webkit-appearance: none;
	.box-shade();
}

.clear {
    clear: both;
}

.blueText, .blueText a {
	text-decoration: none;
	color: @blueTextSearch;
}
.greenText, .greenText a {
	text-decoration: none;
	color: @greenText;
}
.orangeText, .orangeText a {
	text-decoration: none;
	color: @orangeText;
}
.redText, .redText a {
	text-decoration: none;
	color: @redText;
}

.contactBox {
	position: relative;
	float: left;
	border: 3px solid #b5d45d;
	padding: 10px 13px;
	margin-top: 50px;
	margin-left: 30px;
	width: 168px;
	float: right;
	margin-right: 10px;
	.box-shade();

	&:before {
		content: "";
		background: url('/img/iconPerson.png') no-repeat;
		position: absolute;
		width: 100%;
		height: 50px;
		background-size: 88px 51px;
		left: 50px;
		top: -53px;
	}
	.contactName {
		font-size: 14px;
		color: #000;
		text-align: center;
		display: block;
	}

	.contactNumber, .contactEmail {
		font-size: 12px;
		padding: 10px 0 0;

		a {
			color: #3e3e3e;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&:before {
			content: "";
			padding: 0 3px 4px;
			background-position: 0px 0px;
			margin-top: -2px;
			display: block;
			float: left;
			height: 20px;
			width: 20px;
		}
	}
	.contactNumber {
		
		&:before {
			background: url('/img/iconPhone.gif') no-repeat;
			background-size: 20px 20px;

		}
	}
	.contactEmail {
		
		&:before {
			background: url('/img/iconMail.gif') no-repeat;
			background-size: 20px 20px;

		}
	}
	.contactTitle {
		color: #234e77;
		text-align: center;
		display: block;
		font-size: 12px;
		clear: left;
		font-weight: bold;
	}
}

.contactOrange {
	border: 3px solid #ffa900;

	&:before {
		content: "";
		background: url('/img/iconPersonOrange.png') no-repeat;
		position: absolute;
		width: 100%;
		height: 50px;
		background-size: 88px 51px;
		left: 50px;
		top: -53px;
	}
}
.quickLinks {
	clear: left;
	padding-top: 50px;
	position: relative;

	.qlTab {
		background-color: #30547f;
		padding: 15px 16px 9px;
		float: left;

		h3 {
			color: white;
			margin: 0;
			font-family: 'Rokkitt', serif;
			font-size: 18px;

			
			&:before {
				content: "";
				background: url('/img/iconStar.jpg') no-repeat;
				padding: 0 3px 4px;
				background-position: 0px 3px;
				margin-top: -2px;
				display: block;
				float: left;
				height: 20px;
				width: 20px;
				background-size: 17px;
			}
		}
	}
	.qlBody {
		position: relative;
		clear: left;
		// width: 100%;
		-moz-column-count: 5;
		-moz-column-gap: 16px;
		-webkit-column-count: 5;
		-webkit-column-gap: 16px;
		column-count: 5;
		column-gap: 16px;
		background-color: @grayLight;
		padding: 20px 2.5% 10px;
  		margin-bottom: 50px;
  		border-bottom: 24px solid #f4f4f4;
  		.box-shade();
		
		#QLContainer {
			// border-right: 1px solid #ddd;
  			padding-right: 12px;
		}

		ul {
			.inline();

   			li {
   				width: 100%;
   				-webkit-column-break-inside: avoid; /* Chrome, Safari */
				page-break-inside: avoid;           /* Theoretically FF 20+ */
				break-inside: avoid-column;         /* IE 11 */
				display:table; 

   				a {
					text-decoration: none;
					font-size: 12px;
					color: #336699;
					display: block;
  					padding: 6px 0;
  					float: left;
  					line-height: 1.2em;

					&:hover {
						text-decoration: underline;
					}
					&.ql-remove {
						float: left;
						width: 12px;
						padding: 7px 5px 0 0;
						display: none;

						img {
							width: 100%;
						}
					}
					&.ql-active {
						display: block;
					}
					&.active-link {
						width: 88%;
					}
   				}
   			}
		}
	}

	.ql-edit {
		float: left;
		background-color: #4775AB;
		padding: 5px 10px;
		position: absolute;
		bottom: -24px;
		left: 3%;

		a {
			text-decoration: none;
			color: white;
			font-size: 10px;
			display: block;
			cursor: pointer;

			&:after {
				content: "";
				background: url("/img/right-arrow.gif") no-repeat;
				padding: 0px 3px 0 2px;
				margin-left: 4px;
				background-position: 0px 3px;
				background-size: 5px;
			}
		}
		.saveEdit, .resetDefault {
			display: none;
		}
		&.active {
			background-color: rgba(71, 117, 171, 0.3);

			.editQL, .resetDefault {
				display: none;
			}

			.saveEdit, .resetDefault  {	
				color: #9F0F13;
				display: block;
				float: left;
				font-weight: bold;
			}
			.saveEdit:after, 
			.resetDefault:after {
				background:none;
				margin: 0;
				padding: 0;
			}
			&:after {
				border-left: 10px solid #ffd480;
			}
		}
	}
}
/*============== LOGIN PAGE  ===============*/

#loginBody {

	#loginBox {
		width: 100%;
		max-width: 482px;
		margin: 0 auto;

		h1 {
			float: left;
			font-size: 30px;
			padding: 12px 36px;
		}
		#lbLower {
			clear: left;
			width: 86%;
  			padding: 20px 7%;

			p {
				font-size: 16px;
				color: #333333;
				text-align: center;
				// font-weight: bold;
				margin: 0 0 26px;
			}
			input {
				width: 100%;
				margin-bottom: 25px;
			}
			input[type=submit] {
				width: initial !important;
				padding: 0 25px;
				margin-left: 39% !important;
				float: left;
			}
			a {
				color: @blueLink;
				font-size: 10px;
				margin-left: 13px;
				white-space: nowrap;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

//============== MEDIA QUERIES ==============//

@media screen and (min-width: 1685px) {
	.deskBg {
		height: 515px;
		float: none;
		padding: 80px 100px !important;
		margin: 0 auto;
	}
	#loginBody {
		padding: 57px 0 0;
	}
}

@media screen and (max-width: 1060px) {
	.innerLower {
		width: 94%;
		margin-left: 3%;
	}
}

@media screen and (max-width: 980px) {
	.quickLinks .qlBody {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
}

@media screen and (max-width: 850px) {
	.quickLinks .qlBody {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media screen and (max-width: 650px) {
	.libOnebg {
		background-position: -645px bottom;
		height: 421px;
	}
	.quickLinks .qlBody {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		padding: 20px 4.5% 12px;
	}
}

@media screen and (max-width: 550px) {
	.deskBg {
		background-position: left center;
	}

	#loginBody {
		padding: 35px 0;
		
		#loginBox {
			margin-left: 5%;
	  		width: 90%;

	  		h1 {
	  			width: 100%;
	  			padding: 12px 0;
	  		}
	  		#lbLower {
				
				p {
					font-size: 13px;
				}
	  			input[type=submit] {
					padding: 0 20px;
					margin-left: 0 !important;
					width: 100% !important;
				}
				a {
					padding-bottom: 0px;
					display: block;
					clear: left;
					margin-left: 0;
				}
			}

		}
	}
}

@media screen and (max-width: 490px) {
	.innerLower {
		width: 90%;
		margin-left: 5%;
	}
	.quickLinks {
		.qlTab {
			width: 100%;
			padding: 15px 0 9px;

			h3 {
				margin: 0 auto;
  				width: 183px;
			}
		}
		.qlBody {
			-moz-column-count: 1;
			-webkit-column-count: 1;
			column-count: 1;

			ul li {
				width: 100%;
				padding-right: 0;
				display: list-item;
				text-align: center;
			}
		}
	}
}