/*=====Variables====*/

//Blues
@blue: #001948;
@blueText: #001948;
@blueTextSearch: #1b7bdb;
@bgBlueLight: #003366;
@blueVl: #a9f7f8;
@transBlue: rgba(14, 50, 100, 0.85);
@blueLink: #406a9f;
@headerBlue: #30659b;
@headerBlue2: #114477;

//Grays
@grayText: #282828;
@gt1: #3a3a3a;
@gt2: #353535;
@gt3: #434343;
@gt4: #444444;
@gt5: #605c5c;
@grayDark: #6a6b6c;
@grayMd: #5a5a5a;
@grayMid: #d7dde1;
@grayLight: #f4f4f4;
@grayLight2: #e8e8e8;
@footerGray: #dddddd;
@footerText: #6b6a69;

@redText: #f72525;
@greenText: #5db154;
@orangeText: #fe8a02;

@transWhite: rgba(255, 255, 255, 0.87);
@transBlue: rgba(14, 50, 100, 0.85);
@transBlueLight: rgba(243, 243, 243, 0.89);